@use "./colors.scss" as *;
@use "./mixins.scss" as *;
/* Desktop */
@media screen and (min-width: 1025px) {
    header {
        margin: 0;
        padding: 2rem;
        height: 60vh;
        clip-path: polygon(0px 0px, 100% 0px, 100% 90%, 50% 100%, 0px 90%);
        .bgVideo{
            position: absolute;
            overflow: hidden;
            margin:0;
            padding: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            iframe{
                width: 140%;
                height: 115vh;
                pointer-events: none;
            }
        }

        nav{
            ul{
                gap: 3rem;
                @include applyFlex(center, center, row);
                li{
                    a{
                        font-size: 1.5rem;
                    }
                }
            }
        }

        img{
            width: 300px;
            padding: 0;
            margin: 0;            
        }

        .headerTitle{
            font-size: 2.5rem;
            text-align: center;
        }
    }

    main{
        .aboutMe{
            gap: 1.5rem;
            padding: 1rem;
            box-shadow: $shadow-medium;
            h1{
                text-align: center;
            }
            img{
                width: 50%;
                border-radius: 1rem;
                justify-self: end;
            }
            p{
                text-align: center;
                padding: 1rem;
            }
        }
    }

    .features{
        @include applyFlex(center, center, column);
        .targetContainer{
            width: 100%;

            .targetCarousel{
                width: 100%;
                .targetCarouselContainer{
                    width: 100%;
                    @include applyFlex(center, center, row);
                    gap: 2rem;
                    .targetCarouselItem{
                        width: 500px;
                        height: 500px;
                        transition: .2s;
                        opacity: 0.5;
                        .planTarget{
                            width: 100%;
                            height: 100%;
                            border-radius: 1rem;
                            @include applyFlex(center, center, column);
                        }

                        &:hover{
                            opacity: 1;
                            transition: transform 0.5s ease-in;
                        }
                    }
                }

                .targetCarouselControls{
                    position: absolute;
                    width: 95%;
                    display: flex;
                    justify-content: space-between;
                    transform: translateY(-50%);
                    pointer-events: none;
                    button{
                        display: none;
                    }
                }
            }

        }
    }

    footer{
        border-top: 1px solid $gray-dark;
        @include applyFlex(center, center, column);
        padding: 1rem;
        margin-top: 1rem;
        nav{
            ul{
                gap: 3rem;
                @include applyFlex(center, center, row);
                li{
                    a{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}