#root{
    display: grid;
    animation: desplegar 1s ease-in;
    grid-template-rows: repeat(4, auto);
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    grid-template-areas: 
    "header"
    "main"
    "features"
    "footer";
    
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    .features{
        grid-area: features;
    }
    footer{
        grid-area: footer;
    }
}

header{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "nav logo"
    "text text";

    nav{
        grid-area: nav;
    }
    .logo{
        grid-area: logo;
    }
    .headerTitle{
        grid-area: text;
    }

    @media screen and (max-width: 480px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "nav"
        "logo"
        "text";

        nav{
            grid-area: nav;
        }
        .logo{
            grid-area: logo;
        }
        .headerTitle{
            grid-area: text;
        }
    }
}

main{
    .aboutMe{
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-areas: 
        "text img";

        img{
            grid-area: img;
        }
        p{
            grid-area: text;
        }
    }

    @media screen and (max-width: 480px) {
        .aboutMe{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "title"
        "img"
        "text";

        h1{
            grid-area: title;
        }
        img{
            grid-area: img;
        }
        p{
            grid-area: text;
        }
        }
    }
}

@keyframes desplegar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}