@use '../../__colors.scss' as *;

header {
    margin: 0;
    padding: 0;
    
    background-image: url("https://images.unsplash.com/photo-1621839673705-6617adf9e890?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);

  nav {
    margin-bottom: 0;
    gap: 1rem;

    a {
      margin-top: 7rem;
      color: $black-color;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      transition: .3s;
      &:hover {
        transition: .2s ease-in-out;
        border-bottom: 3px solid $white-color;
        padding-bottom: 2px;
        color: $black-color;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}

