@media screen and (min-width: 1024px){
.fontNav{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none;
}

.textFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.titleFont{
    font-family: "Playfair Display", serif;
    font-size: 6rem;
}

.secondTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.thirdTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
}

.fourthTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.linkFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.buttonFont{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.listFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.spanFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
}

@media screen and (max-width: 1024px) and (min-width: 480px){
.fontNav{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

.textFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.titleFont{
    font-family: "Playfair Display", serif;
    font-size: 2rem;
}

.secondTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.thirdTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}

.fourthTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.linkFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.buttonFont{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.listFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.spanFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
}

@media screen and (max-width: 480px){
.fontNav{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

.textFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .95rem;
}

.titleFont{
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.secondTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.thirdTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.fourthTitleFont{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.linkFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.buttonFont{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.listFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.spanFont{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

}