@use '../__colors.scss' as *;

@media (max-width: 480px) {
    header{
        animation: desplegarMobile 1s ease-in-out;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 70vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title{
            display: flex;
            flex-direction: column;
            align-content: stretch;
            justify-content: center;
            align-items: center;
            z-index: 1;
            img{
                width: 150px;
            }
        }

        .headerPresentation{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
        .navPhone{
            gap: 1rem;
            z-index: 1;
            details{
            summary{
                list-style: none;
                border-radius: 50%;
                padding: 1rem;
                .menuIcon{
                font-size: 2rem;
                    &:active{
                        color: $primary-color;
                    }
                }
            }

            .navPhoneLinks{
                list-style: none;
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 0px;
                a{
                color: $black-color;
                border-bottom: 1px solid $primary-color;
                padding: 0;
                margin: 1rem;
                }
            }
            }
        }
    }
}

@media screen and (max-width: 1024px) and ( min-width: 480px) {
        header{
        animation: desplegarTablet 1s ease-in-out;
        height: 60vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-repeat: no-repeat;

        background-size: cover;
        background-position: center;
        .navPhone{
            display: flex;
            justify-content: start;
            align-items: self-start;
            flex-direction: row;
            gap: 1rem;
            z-index: 1;
            padding: 1rem;

            details{
                summary{
                    list-style: none;
                    background-color: $white-color;
                    border-radius: 50%;
                    padding: 1rem;
                    .menuIcon{
                    font-size: 2rem;
                    }
                }

                .navPhoneLinks{
                    list-style: none;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 0px;
                    a{
                    color: $black-color;
                    border-bottom: 1px solid $primary-color;
                    padding: 0;
                    margin: 1rem;
                    }
                }
            }
        }
         nav{
            display: flex;
            align-items: stretch;
            justify-content: stretch;
         }
        .title{
            display: flex;
            align-items: start;
            justify-content: center;
            z-index: 1;
            img{
                width: 200px;
            }
        }

        .headerPresentation{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
    }
}

@media screen and (min-width: 1024px){
    header {
    animation: desplegar 1s ease-in-out;
    height: 80vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

        nav {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

        }
            .title {
                display: flex;
                flex-direction: column;
                align-content: stretch;
                justify-content: center;
                align-items: center;
                img{
                    width: 300px;
                }
            }

            .headerPresentation{
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }

    }
}

@keyframes desplegar {
  from {
    height: 0vh;
  }
  to {
    height: 80;
  }
}

@keyframes desplegarMobile {
  from {
    height: 0vh;
  }
  to {
    height: 70;
  }
}

@keyframes desplegarTablet {
  from {
    height: 0vh;
  }
  to {
    height: 60;
  }
}