@use '../../_colors.scss' as *;

.targetContainer {
  padding: 2rem;

  h2 {
    margin-bottom: 2rem;
    color: $primary-color;
    text-align: center;
  }

  // Carousel
  .targetCarousel {
    position: relative;
    margin: auto;
    overflow: hidden;

    .targetCarouselContainer {
      display: flex;
      transition: transform 0.5s ease-in-out;
      will-change: transform;
      .targetCarouselItem {
        box-sizing: border-box;
        padding: 1rem;
    }
    }

    .targetCarouselControls {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      pointer-events: none;

      button {
        pointer-events: auto;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 0.8rem 1rem;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 50%;
        transition: background 0.3s ease;

        &:hover {
          background: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
}
